# Server
SERVER_PORT=8080

# Database
DB_URL=jdbc:postgresql://localhost:5432/fsoft_erp
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Admin init
ADMIN_USER_NAME=catsocute@info.com
ADMIN_PASSWORD=catsocute
ADMIN_FULL_NAME=System Admin
ADMIN_PHONE=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
